.main {
  background-color: black;
  color: white;
  width: 170px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}
.bounceIn {
  animation-name: bounceIn;
  animation-duration: 1s;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(o.9);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
  animation-duration: 3s;
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	60% {
		transform: translateX(0px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.bounceInRight{
  animation-name: bounceInRight;
  animation-duration: 3s;
}

@keyframes bounceInRight{
  0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		transform: translateX(0px);
	}

	80% {
		transform: translateX(5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}

}
.fadeIn{
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn{
  0%{
    opacity:0;
  }
  50%{
    opacity:0;
  }
  70%{
    opacity:0.1;
  }
  100%{
    opacity:1;}
}

.fadeInDown{
  animation-name: fadeInDown;
  animation-duration: 3s;
}

@keyframes fadeInDown{
  0%{
    opacity:0;
  }
  50%{
    opacity:0;
    -webkit-transform: translateY(-20px);
  }
  70%{
    opacity:0.2;
    -webkit-transform: translateY(20px);
  }
  100%{
    opacity:1;
    -webkit-transform: tarnslateY(px);
  }
}

.fadeInUp{
  animation-name:fadeInUp;
  animation-duration:6s;

}

@keyframes fadeInUp {
  0%{
    opacity:0;
  }
  50%{
    opacity:0;
  }
  70%{
    opacity:0.2;
    -webkit-transform: translateY(-20px);
  }
  100%{
    opacity:1;
    -webkit-transform: tarnslateY(px);
  }
}

.moveUp{
  animation-name:moveUp;
  animation-duration: 9s;
}

@keyframes moveUp {
  0%{
    opacity:0;
  }
  50%{
    opacity:0;
  }
  70%{
    opacity:0.7;
    -webkit-transform: translateY(-20px);
  }
  100%{
    opacity:1;
    -webkit-transform: tarnslateY(px);
  }
}